@import "tippy.js/themes/light.css";

.tiptap {
  @apply outline-none size-full pb-[100px];
  --gray-1: #f3f4f6;
  --gray-2: #e5e7eb;
  --gray-3: #d1d5db;
  --gray-4: #6b7280;
  --gray-5: #4b5563;
  --gray-6: #1f2937;
  --gray-7: #374151;
  --gray-8: #1f2937;
  --gray-9: #111827;

  ::first-child {
    margin-top: 0;
  }
  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 1rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

  /* Placeholder (at the top) */
  p.is-editor-empty:first-child::before {
    color: var(--gray-3);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Placeholder (on every new line) */
  .is-empty::before {
    color: var(--gray-3);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
